.bannerSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 16px;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.leftSwiperContainer {
  grid-column: span 3;
  border-radius: 0.5rem;
  overflow: hidden;
}

.slideContainer {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderTextContainer {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sliderTextContainer h1 {
  width: 40vw;
}

.sliderTextContainer p {
  margin: 3rem 0;
  width: 40vw;
}

.sliderTextContainer button {
  width: 20vw;
}

@media screen and (max-width: 1000px) {
  .bannerSection {
    grid-template-columns: (1fr, 1fr);
  }
}
